@using FollowMe.Data.Models;
@using FollowMe.Data.Models.Enum
@model FollowMe.Web.ViewModels.Search.SearchIndexViewModel
    <section class="py-5">
        <div class="container">
            <h1 style="margin: 2%; text-align: center;">Search</h1>
            <h2 style="margin: 2%; text-align: center;">This will show you twelve results. For more, buy premium account from <a href="#">here</a>.</h2>
            <div style="padding: 5%;">
                <form asp-action="List" method="get">
                    <div>
                        <label asp-for="@Model.MinimumAge">Minimum age</label>
                        <input asp-for="@Model.MinimumAge" class="form-control" />
                        <span asp-validation-for="@Model.MinimumAge" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="@Model.MaximumAge">Maximum age</label>
                        <input asp-for="@Model.MaximumAge" class="form-control" />
                        <span asp-validation-for="@Model.MaximumAge" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="@Model.Gender">Choose your gender</label>
                        <select class="form-control" asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()"></select>
                    </div>
                    <div>
                        <label asp-for="@Model.SearchingFor">Choose what are you searching for</label>
                        <select class="form-control" asp-for="SearchingFor" asp-items="Html.GetEnumSelectList<WhatAreYouSearchingFor>()"></select>
                    </div>
                    <div>
                        <label asp-for="@Model.City">Choose your city</label>
                        <select class="form-control" asp-for="City" asp-items="Html.GetEnumSelectList<City>()"></select>
                    </div>
                    <hr />
                    <button class="btn btn-primary justify-content-center">Search</button>
                </form>
            </div>
        </div>
    </section>