@using System.Text;
@using Microsoft.AspNetCore.Identity
@using FollowMe.Data.Models
@using System.Globalization;
@model FollowMe.Web.ViewModels.Profiles.ProfileViewPersonalDetailsViewModel
@inject UserManager<ApplicationUser> user
@{
    var userId = this.user.GetUserId(this.User);
    var age = DateTime.UtcNow.Year - Model.Date.Year;
}
<div class="container bootstrap snippets bootdey">
    <div class="row ng-scope">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    @if (@Model.UserUserCharacteristicsPhotoImagePath == null)
                    {
                        <div class="pv-lg"><img src="~/images/default-profile-picture1.jpg" id="profilePicture"></div>
                    }
                    else
                    {
                        <div class="pv-lg"><img src="@Model.UserUserCharacteristicsPhotoImagePath" id="profilePicture"></div>
                    }

                    <h3 class="m0 text-bold"></h3>
                    <div class="mv-lg">
                        <p>@Model.FullName</p>
                        <p>Something about me: @Model.Description</p>
                    </div>
                    <div class="text-center"><a class="btn btn-primary" href="">Send message</a></div>
                    <hr />
                    <div class="row justify-content-center">
                        <a href="/Profiles/EditDetails?id=@Model.UserId" class="btn btn-primary text-center">Edit Details</a>
                    </div>
                    <hr />
                    <div class="row justify-content-center">
                        <a href="/Photos/All?id=@Model.UserId" class="btn btn-primary text-center">Photos (@Model.UserPhotosCount)</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="h4 text-center">Personal information</div>
                    <div class="row pv-lg">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <form class="form-horizontal ng-pristine ng-valid">
                                <div class="form-group">
                                    <label class="control-label" for="inputContact1">BirthDay: @Model.Date.ToString("dd-MM-yyyy", CultureInfo.CreateSpecificCulture("en-US")) </label>
                                    <hr />
                                    <label class="control-label" for="inputContact1">Age: @age </label>
                                    <hr />
                                    <label class="control-label" for="inputContact1">Height: @Model.Height </label>
                                    <hr />
                                    <label class="control-label" for="inputContact1">Weight: @Model.Weight </label>
                                    <hr />
                                    <label class="control-label" for="inputContact1">Gender: @Model.Gender</label>
                                    <hr />
                                    <label class="control-label" for="inputContact1">City: @Model.City </label>
                                    <hr />
                                    <label class="control-label" for="inputContact1">Eyes color: @Model.EyeColor</label>
                                    <hr />
                                    <label class="control-label" for="inputContact1">Hair color: @Model.HairColor</label>
                                    <hr />
                                    <label class="control-label" for="inputContact1">Status: @Model.WeddingStatus</label>
                                    <hr />
                                    <label class="control-label" for="inputContact1">What are you searching for: @Model.WhatAreYouSearchingFor</label>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<hr />
<div class="row justify-content-center">
    <a href="/Posts/Create?id=@Model.UserId" class="btn btn-primary btn-lg text-center">Create new post</a>
</div>
<hr />
@foreach (var post in Model.UserPosts)
{
    <div class="container" id="@post.Id">
        <div class="well">
            <div class="media">
                <a class="pull-left" href="/Profiles/Profile?id=@post.SentById">
                    @if (post.ImagePath == null || post.ImagePath == "/images/photos/")
                    {
                        <div class="photo"><img src="~/images/default-profile-picture1.jpg" id="postPicture"></div>
                    }
                    else
                    {
                        <img class="media-object" src="@post.ImagePath" id="postImage">
                    }
                </a>
                <div class="media-body">
                    <div class="text-muted small ml-3">
                        <form id="votesForm" method="post">

                            <div class="text-lg-right col-sm3">

                                <a class="btn" href="/Posts/Delete?id=@post.Id"><i class="fas fa-times"></i></a>
                            </div>
                            <div class="text-lg-right">
                                <div>
                                    <a class="btn btn-primary" onclick='sendVote("@post.Id", true)'>
                                        <i class="fa fa-thumbs-up"></i>
                                    </a>
                                </div>
                                <div id="votesCount">@post.VotesCount</div>
                                <div>
                                    <a class="btn btn-primary" onclick='sendVote("@post.Id", false)'>
                                        <i class="fa fa-thumbs-down"></i>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <h3>@post.Title</h3>
                            </div>
                        </form>
                    </div>
                    
                    <hr />
                    <p class="text-right"><i class="fas fa-user"></i>By @post.SentByUserCharacteristicsFullName</p>
                    <p>
                        @post.Content
                    </p>
                    <ul class="list-inline list-unstyled text-lg-right">
                        <li><span><i class="fas fa-calendar-alt"></i>@post.CreatedOn.ToString("MM/dd/yy H:mm:ss", CultureInfo.CreateSpecificCulture("en-US"))</span></li>
                        <li>
                            <span><i class="fas fa-comment"></i>Comments: @post.CommentsCount</span>
                        </li>
                        <li>
                            <a class="btn btn-primary" href="/Posts/Edit?id=@post.Id">Edit post</a>
                        </li>
                    </ul>

                    @foreach (var comment in post.Comments.OrderByDescending(x => x.CreatedOn))
                    {
                        <div class="comment" id="@comment.Id">
                            <a class="pull-left" href="/Profiles/Profile?id=@comment.UserId">
                                @if (comment.ImagePath == null || comment.ImagePath == "/images/photos/")
                                {
                                    <div class="photo"><img src="~/images/default-profile-picture1.jpg" id="postPicture"></div>
                                }
                                else
                                {
                                    <img class="media-object" id="commentPicture" src="@comment.ImagePath" />
                                }

                            </a>
                            <p>
                                @comment.Content
                            </p>
                            <p class="text-right">
                                <i class="fas fa-user"></i>By @comment.UserUserCharacteristicsFullName
                            </p>
                            <p>
                                @comment.CreatedOn.ToString("MM/dd/yy H:mm:ss", CultureInfo.CreateSpecificCulture("en-US"))
                            </p>
                            <a class="btn" href="/Comments/Delete?id=@comment.Id"><i class="fas fa-times"></i></a>
                            <a class="btn btn-primary" href="/Comments/Edit?id=@comment.Id">Edit comment</a>
                        </div>
                        <hr />
                    }

                </div>
            </div>
        </div>

        <div class="row justify-content-md-end">
            <a href="/Comments/Create?id=@post.Id&userId=@userId" style="margin-right:14px" class="btn btn-primary btn-lg text-center">Add comment</a>
        </div>
    </div>
    <hr />
}

@section Scripts {
    <script>
        function sendVote(postId, isUpVote) {
            var token = $("#votesForm input[name=__RequestVerificationToken]").val();
            var json = { postId: postId, isUpVote: isUpVote };
            var dataInfo = JSON.stringify(json);
            $.ajax({
                url: "/api/votes",
                type: "POST",
                data: dataInfo,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { "X-CSRF-TOKEN": token },
                success: function (data) {
                    $("#votesCount").html(data.votesCount);
                }
            });
        }
    </script>
}
