@using System.Globalization;
@model FollowMe.Web.ViewModels.Photos.AllPhotoViewModel
<div class="text-sm-center">
    <img src="@Model.ImagePath" id="singlePhoto" />
    <div><input class="invisible" id="photoId" name="photoId" value="@Model.Id" /></div>
</div>
<div class="row justify-content-center">
    <a href="/Comments/CreatePhotoComment?id=@Model.Id&userId=@Model.UserId" class="btn btn-primary btn-lg text-center">Create comment</a>
</div>
<hr />
<div>
    @foreach (var comment in Model.Comments)
    {
        <div class="commentPhoto" id="@comment.Id">
            <a class="pull-left" href="/Profiles/Profile?id=@comment.SentById">
                @if (comment.ImagePath == "/images/photos/")
                {
                    <div class="photo"><img src="~/images/default-profile-picture1.jpg" id="commentPhoto"></div>
                }
                else
                {
                    <img class="media-object" id="commentPicture" src="@comment.ImagePath" />
                }
            </a>
            <p>
                @comment.Content
            </p>
            <p class="text-right">
                <i class="fas fa-user"></i>By @comment.SentByUserCharacteristicsFullName
            </p>
            <p>
                @comment.CreatedOn.ToString("MM/dd/yy H:mm:ss", CultureInfo.CreateSpecificCulture("en-US"))
            </p>
            <a class="btn" href="/Comments/DeletePhotoComment?id=@comment.Id"><i class="fas fa-times"></i></a>
            <a class="btn btn-primary" href="/Comments/EditPhotoComment?id=@comment.Id">Edit comment</a>
        </div>
        <hr />
    }
</div>

